h1 {
	color: black;
	font-family: Arial;
	text-align: center;
}
table {
	text-align: center;
	border: 2px solid green;
	border-collapse: collapse;
	width: 50%;
	font-family: Arial;
}
th {
	background-color: black;
	color:green;
}
th,td {
	border: 1px solid green;
	padding: 5px;
}